@charset "utf-8";

*{  
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient( to bottom, #6089BF , #F0F2DC,#9CB6D9 );
    background-attachment: fixed;
}
main{
    background-color: white;
    border-radius: 10px;width: 600px;
    box-shadow: 5px 5px 20px#425e82a5 ;
    padding: 10px;
    margin: auto;
    
}
p {
    text-align: justify;
}
h1{
    color: #6089BF;
    text-align: center;
    text-shadow: 1px 1px 2px #4867909e ;
}

h2{
    color:#3CA6A6 ;
}